A2/wandb/
A2/models/
A2/data/
A2/*.pkl
A3/frames/
A3/frames_track/
A3/output.mp4
A3/track_id.mp4
A3/archive/
A3/datasets/
A3/wandb/
A3/frames/
A3/frames_track/
A3/train1_yolov8_100img/
A3/train2_yolov8_400img/
A3/*.pt
